@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto&display=swap');

:root {
    /* Font names */
    --title: 'Alkatra', serif;
    --main-font: 'Roboto', serif;

    /* Website colours */
    --background: #D3D3D3;
    --black: #000;
    --green: #00FF00;
    --white: #FFF;
    --off-white: #f6f6f6;
    --yellow: #FFFF00;

    /* Borders and Boxes */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,h2,h3,h4,h5,h6
{
    font-family: var(--title);
}


main {
    flex: 1 0 auto;
    background-color: var(--white);
}


/* Header colours*/
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--small-box-shadow)
}

a.nav-link (
    color: var(--black);
)

img.logo {
    width: 20rem;
}

/* Footer */
footer {
    flex-shrink: 0;
}
